@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banking Application</h1>
    <p class="lead">Banking Application is a sample application that utilizes layered architechture</p>
    <p class="lead">It has main asp.net mvc project, class library projects that added to main project: Api, BLL, DAL, Common, Models, Entities, and Test project</p>
    <p class="lead">On front end it has mvc views, two views are used to display angular and angular 2 applications </p>
</div>
