<div id="divDataBody" class="container entity">
    <form name="depositForm" class="form-horizontal container-fluid" (ngSubmit)="sendWithdraw()">

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group col-md-12 col-xs-12">
                    <label>Amount to withdraw</label>
                    <div class="input-group">
                        <input name="amount" class="form-control" type="number" required [(ngModel)]="Amount" autofocus />
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    <div>
        <label>{{Status}}</label>
    </div>
</div>

<div>
    <a href="#!/home">Back</a>
</div>

